<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Konto anpassen</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", :autofocus => true %>
      </div>

      <div class="form-group">
        <%= f.label :password %> <i>(leer lassen, wenn es  nicht geändert werden soll)</i>
        <%= f.password_field :password, class: "form-control", :autocomplete => "off" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(Änderungen bitte mit dem Passwort bestätigen)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <h3>Konto löschen</h3>

    <p>Unhappy? <%= button_to "Konto löschen", registration_path(resource_name), :data => { :confirm => "Bist du sicher, dass du das tun möchtest?" }, :method => :delete, class: "btn btn-warning" %></p>

  
  </div>
</div>