
<div class="panel panel-default">
  <div class="panel-heading">
<h1>Adresse bearbeiten</h1>
  </div>
  <div class="panel-body">
 <%= form_for(@adress) do |f| %>
  <% if @adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adress.errors.count, "error") %> prohibited this adress from being saved:</h2>
      <ul>
      <% @adress.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="form-group">
        <%= f.label :strasse %>
        <%= f.text_field :strasse, autofocus: true, type: "text", placeholder: "Deine Straße", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :hausnummer %>
        <%= f.text_field :hausnummer, type: "text", placeholder: "Deine Hausnummer", class: "form-control" %>
      </div>

       <div class="form-group">
        <%= f.label :Postleitzahl %>
        <%= f.text_field :plz, type: "text", placeholder: "Deine Postleitzahl", class: "form-control" %>
      </div>

       <div class="form-group">
        <%= f.label :Stadt %>
        <%= f.text_field :stadt, type: "text", placeholder: "Deine Stadt", class: "form-control" %>
      </div>

     

      <div class="actions">
    <%= f.submit "Location anpassen", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer">
<%= link_to 'Zurück', adresses_path %>  
</div>
</div>
