<div class="jumbotron">
  <h1>Location-Übersicht</h1>
<br>
<p>
  <table class="table">
  <thead>
    <tr>
      <th>Strasse</th>
      <th>Hausnummer</th>
      <th>Plz</th>
      <th>Stadt</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.strasse %></td>
        <td><%= adress.hausnummer %></td>
        <td><%= adress.plz %></td>
        <td><%= adress.stadt %></td>
        <td><%= adress.latitude %></td>
        <td><%= adress.longitude %></td>
        <td><%= link_to 'Show', adress %></td>
        <td><%= link_to 'Edit', edit_adress_path(adress) %></td>
        <td><%= link_to 'Destroy', adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>

<br>

<%= link_to 'Neue Location anlegen', new_adress_path, class:"btn btn-primary     btn-lg"  %>
</div>
