<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">

 <div class="row">
  <div class="col-md-8"> 
    <h1>Deine Location</h1>
    <h3> <%= @adress.strasse %> <%= @adress.hausnummer %></h3>
  </div>
   <div class="col-md-4">
<%= link_to edit_adress_path(@adress) do %> 
<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"> Anpassen</button>  
<% end %>
  </div>

</div></div>

  <div class="panel-body">



<p>
  <strong>Strasse:</strong>
  <%= @adress.strasse %>
</p>

<p>
  <strong>Hausnummer:</strong>
  <%= @adress.hausnummer %>
</p>

<p>
  <strong>Plz:</strong>
  <%= @adress.plz %>
</p>

<p>
  <strong>Stadt:</strong>
  <%= @adress.stadt %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @adress.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @adress.longitude %>
</p>
      

<br>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@adress.latitude}%2C#{@adress.longitude}", class: "img-rounded" %>
<%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=450x300&location=#{@adress.strasse}%2C#{@adress.hausnummer}%2C#{@adress.plz}&sensor=false", class: "img-rounded"  %>

</p>



<p>
</div>


 <div class="panel-footer">



<%= link_to 'Zurück', adresses_path %>

  </div>
</div>
